{% extends "main-layout.html" %}

{% block title %}
    My Quotes | Mook
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="../static/css/quotes.css">

{% endblock %}

{% block header %}
    <header>
        <div class="header-content">
            <div class="header-info">
                <h1>My Quotes</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <main>
        <div class="search-tools">
            <div class="search-bar">
                <form action="/myquotes" method="post" class="bar">
                    <input autocomplete="off" id="search" name="search" placeholder="Search by title, author / director or quote" type="text">
                    <button type="submit">Search</button>
                </form>
                <form action="/myquotes" method="get">
                    <button>Reload</button>
                </form>
            </div>
            
        </div>
        <div class="upp-buttons">
            <button onClick="hide('movie-card', 'book-card', this.id, 'movies-select')" id="books-select">BOOKS</button>
            <button onClick="hide('book-card', 'movie-card', this.id, 'books-select')" id="movies-select" class="movie-button">MOVIES</button>
        </div>
        <div id="cards" class="cards">
            {% for quote in quotes %}
                {% if quote["type"] == "book" %}
                    <div class="card book book-card" id="book-card">
                        <div class="card-content">
                            <form action="/deletequote" method="post">
                                <div class="delete">
                                    <input type="hidden" value="{{ quote.id }}" name="qid">
                                    <button class="delete-button">&#10005;</button>
                                </div>
                            </form>
                            <div class="card-img">
                                <img src="{{ quote.img }}" alt="">
                            </div>
                            <div class="card-info">
                                <h4>{{ quote["quote"] }}</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if quote["type"] == "movie" %}
                    <div class="card movie movie-card" id="movie-card">
                        <div class="card-content">
                            <form action="/deletequote" method="post">
                                <div class="delete">
                                    <input type="hidden" value="{{ quote.id }}" name="qid">
                                    <button class="delete-button movie-button">&#10005;</button>
                                </div>
                            </form>
                            <div class="card-img">
                                <img src="{{ quote.img }}" alt="">
                            </div>
                            <div class="card-info">
                                <h4>{{ quote["quote"] }}</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>

    <{% block js %}
        <script src="../static/js/buttons.js"></script>
    {% endblock %}
{% endblock %}